html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Circe', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

body._lock {
  overflow: hidden;
}

body.lg-on::-webkit-scrollbar {
  width: 0;
}

ul,
li {
  font-family: 'Circe', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a {
  font-family: 'Circe', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

button,
select {
  font-family: 'Circe', sans-serif;
  cursor: pointer;
  outline: none;
}

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-family: 'Alcotton', serif;
  font-size: 28px;
  font-weight: normal;
}


//* ~~~~~~~~ Section ~~~~~~~~
.section {
  position: relative;
  
}

.side-title {
  position: absolute;
  top: 50%;
  transform: translateY( -50%);
  left: 25px;
  
  z-index: 50;
  &__name {
    font-family: 'Alcotton', serif;
    color: #000;
    font-size: 25px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
  }
}

//* ~~~~~~~~ Link More ~~~~~~~~
.link-more {
  padding-left: 60px;
  color: #000000;
  font-family: 'Circe';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  position: relative;
  transition: text-shadow 0.3s;

  &:hover {
    text-shadow: 0 0 0.5px;
    font-weight: 400;
  }

  &::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 1px;
    background-color: #000;
    top: 50%;
    left: 0;
  }
}




//* ~~~~~~~~ Burger + Menu ~~~~~~~~
.burger {
  display: none;
  position: absolute;
  top: 80px;
  right: 100px;
  cursor: pointer;
  z-index: 200;
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-top: 5px;
    transition: all .3s;
    path {
      fill: #fff;
    }
  }
  .burger-line--1 {
    top: -10px;
  }
  .burger-line--3 {
    top: 10px;
  }
}

.header__content.header__content--black {
  svg path {
    fill: #000;
  }
  .logo:hover {
    opacity: 0.7;
  }

  .burger svg path {
    fill: #000;
  }
  .menu__link {
    color: #000000;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}

.header__content.active {
  .menu  {
    left: 0;
    
  }
  .burger {
    
    .burger-line--1 {
      transform: rotate(45deg);
      top: 0;
    }
    .burger-line--3 {
      transform: rotate(-45deg);
      top: 0;
    }
    .burger-line--2 {
      opacity: 0;
    }
  }

  &.header__content--black {
    .burger svg path {
      fill: #fff;
    }
    .menu__link {
      color: #fff;
    }
    
  }
  
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 0 25px;
  flex-wrap: wrap;

  &__list {
    & + .menu__list {
      margin-left: 46px;
    }
  }

  &__link {
    font-family: 'Alcotton', serif;
    color: #fff;
    transition: color 0.3s;
    font-size: 23px;
    margin-bottom: 20px;
    &:hover {
      color: #ccc;
    }
  }
}



//* ~~~~~~~~ Post preview ~~~~~~~~
.post-preview {
  position: relative;
  display: flex;
  &:hover .post-preview__img::after{
    opacity: 1;
  }
  &:hover .post-preview__img::before{
    opacity: 1;
    left: 50%;
  }

  &__img {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
      opacity: 0;
      transition: all 300ms;
      z-index: 3;
    }

    &::before {
      content: '';
      background-image: url(../images/icons/arrow-right-light-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 49px;
      height: 22px;
      top: 50%;
      left: 45%;
      transform: translate(-50%,-50%);
      opacity: 0;
      transition: all 300ms;
      z-index: 5;
    }
  }

  &__title {
    position: absolute;
    bottom: 30px;
    left: 30px;

    font-family: 'Alcotton', serif;
    font-size: 22px;
    color: #FFFFFF;
    z-index: 5;
    font-weight: 400;
  } 
}


//* ~~~~~~~~ Lightgallery ~~~~~~~~
.lg-backdrop.in {
  opacity: 0.8;
}
button.lg-close.lg-icon {
  content: '';
  background-image: url(../images/icons/popup-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-right: 120px;
  font-size: 0;
}

button.lg-prev.lg-icon {
  content: '';
  background-image: url(../images/icons/popup-arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 22px;
}
button.lg-prev:after {
  content: '';

}
button.lg-next.lg-icon {
  content: '';
  background-image: url(../images/icons/popup-arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 22px;
}
.lg-actions button.lg-next:after {
  content: ' ';

}

.lg-actions .lg-prev::after,
.lg-actions .lg-next::before {
  content: "";
}
.lg-toolbar,
.lg-actions .lg-next, .lg-actions .lg-prev {
  background-color: transparent;
}
.lg-outer .lg-img-wrap {
  padding: 45px 5px;
}

.lg-actions .lg-prev {
  left: 120px;
}
.lg-actions .lg-next {
  right: 120px;
}


//* ~~~~~~~~ Cart ~~~~~~~~
.cart {
  &__link {
    transition: opacity 0.3s;
    position: relative;
    svg {
      width: 60px;
      height: 56px;
    }
    &:hover {
      opacity: 0.5;
    }
  } 
}


.btn {
  padding: 10px 21px 8px 21px;
  margin-top: 37px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s ;
  border: 1px solid #000;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.cart-btn {
  width: 100%;
  padding: 8px 20px;
  background-color: #354936;
  border: 1px solid #354936;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s;
  &:hover {
    background-color: #fff;
    color: #354936;
  }
}

//* ~~~~~~~~ Breadcrumbs ~~~~~~~~
.breadcrumbs {
  display: flex;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  &__item {
    a {
      font-weight: 300;
      font-size: 14px;
      position: relative;
      padding-right: 10px;
      
      &::after {
        content: '/';
        position: absolute;
        font-size: 14px;
        line-height: 1.2;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);
      }
    }
    span {
      font-weight: normal;
    }
  }
}