
//* ======= 1600 =======
//* =====================
@media (max-width: 1600px) {
  .container {
    padding-left: 75px;
    max-width: 1530px;
  }
  .gallery .container {
    padding: 0 50px;
  }
  .album__items {
    max-width: 1150px;
    margin: 0 auto;
  }
  .album .grid-item {
    width: 370px;
  }
  .menu.partnership-menu {
    max-width: 780px;
    justify-content: center;
  }
  .menu__list {
    margin-top: 20px;
  }
  .product-page {
    margin-left: -25px;
    margin-top: 100px;
  }
  
}

//* ======= 1450 =======
//* =====================
@media (max-width: 1450px) {
  .product-infos__properties {
    margin-left: 60px;
  }
  .product-page {
    margin-top: 64px;
  }
  .photo-preview__items {
    grid-template-rows: repeat(8, 68px);
  }

}



//* ======= 1300 =======
//* =====================
@media (max-width: 1300px) {
  .menu {
    max-width: 625px;
    width: 100%;
    margin-right: -50px;
    margin-top: -20px;
    justify-content: center;
     
  }
  .store-menu {
    max-width: 890px;
  }
  .store-menu .menu__list+.menu__list {
    margin-left: 0;
  }
  .menu__list {
    margin-right: 50px;
    
  }
  .menu__list+.menu__list {
    margin-left: 0;
  }
  //~~~~ Album ~~~~
  .album__items {
    max-width: 924px;
    margin: 0 auto;
  }
  .album .grid-item {
    width: 294px;
  }
  .photos-trip__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .store-polygraphy__items {

    grid-template-columns: 1fr 1fr 1fr;

  }
  .photo-preview__items {
    grid-template-rows: repeat(8, 60px);
  }
  
}


//* ======= 1200 =======
//* =====================
@media (max-width: 1200px) {
  .section {
    margin-top: 100px;
  }
  .header-partnership.section {
    margin-top: 0;
  }
  .acquaintance__wrapper {
    display: block;
    margin-top: 0;
  }
  .acquaintance__photo {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 610px;
  }
  .acquaintance__text {
    max-width: 800px;
    margin: 0 auto;
  }
  button.lg-close.lg-icon {
    margin-right: 30px;
    margin-top: 30px;
  }
  .partnership .header__content.container {
    padding-left: 50px;
    // .menu {
    //   padding: 0 25px;
    // }
    .social__link+.social__link {
      margin-left: 20px;
    }
    
  }
  .partnership .section .side-title__name {
    display: none;
  }
  .partnership .partnership{
    padding-left: 50px;
  }
  .info-cart {
    flex-direction: column;
    max-width: 610px;
    margin: 0 auto;
  }
  .cart__top {
    margin-top: 70px;
    margin-bottom: 37px;
  }
  .cart__top {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .info-cart__name {
    display: none;
  }

  .product-item {
    height: 216px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "photo info"
        "photo qty"
        "photo del";

  }
  .info-cart__quantity {
    margin: 0;
  }
  .product-item__img {
    width: 100%;
    height: 100%;
  }
  .product-item__name {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .product-item__info-price {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .product-item__info-property {
    font-size: 15px;
  }
  





  .ordering-cart {
    max-width: 610px;
    width: 100%;
    margin-top: 75px;
    
  }
  
  .ordering-cart__name {
    display: none;
  }
  .ordering-cart__item {
    font-size: 15px;
    letter-spacing: 0.05em;
  }
  .ordering-cart__info {
    font-size: 20px;
    letter-spacing: 0.01em;
  }
  .ordering-cart__info a {
    text-decoration: none;
  }
  .ordering-cart__item-price {
    margin-left: 50px;
  }
  .photo-preview__items {
    grid-template-rows: repeat(8, 52px);
  }
}

//* ======= 1024 =======
//* =====================
@media (max-width: 1024px) {
  .image--1920 {
    display: none;
  }
  .image--1024 {
    display: block;
  }
  .container {
    padding: 0 50px;
  }
  .side-title {
    margin-bottom: 20px;
  }
  .title {
    font-weight: bold;
    font-size: 30px;
  }

  //~~~~ header ~~~~
  .header .logo svg {
    width: 137px;
  }
  .social__link+.social__link {
    margin-left: 30px;
  }
  .header__content {
    padding-top: 35px;
  }
  
  .menu {
    max-width: 480px;
    margin-right: -40px;
    justify-content: space-between;
     
  }
  .menu__list {
    margin-right: 40px;
  }

  .banner-header__caption-name {
    font-size: 25px;
    font-weight: 700;
  }

  .link-more {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.05em;
  }

  //~~~~ section ~~~~
  .section .side-title {
    position: relative;
    text-align: center;
    transform: translate(-50%, 0);
    left: 50%;
  }
  .section {
    margin-top: 64px;
  }
  .header-partnership.section {
    margin-top: 0;
  }
  .partnership .section .side-title__name {
    display: block;
  }
  .section .side-title__name {
    transform: rotate(0);
    writing-mode: unset;
    font-weight: bold;
    font-size: 30px;
  }

  //~~~~ acquaintance ~~~~
  .acquaintance__photo {
    max-width: 610px;
  }

  //~~~~ last-posts ~~~~
  .last-posts {
    &__items {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 40px;
    }
    &__item {
      margin-bottom: 0;
    }
    &__wrapper {
      margin-top: 0;  
    }

    &__item:nth-child(5),
    &__item:nth-child(6) {
    display: block;
    }
    &__date {
      font-size: 15px;
      letter-spacing: normal;
      font-weight: normal;
    }
    &_text {
      font-weight: normal;
      letter-spacing: 0.5px;
    }
  }

  //~~~~ banner ~~~~
  .banner {
    margin-top: 126px;
  }

  .banner__info {
    margin-left: 100px;
  }
  
  .banner__info-text {
    max-width: 458px;
  }
  .banner__info-title {
    max-width: 498px;
    font-size: 25px;
  }
  .banner__info-btn {
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: normal;
    padding: 12px 58px;
  }

  //~~~~ photo-preview ~~~~
  
  .photo-preview__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .photo-preview__link {
    grid-column: auto;
    grid-row: auto;
  }

  .photo-preview  .post-preview__img{
    margin-top: 0;
    padding-bottom: 64%;
  }


  .gallery .photo-preview__items,
  .gallery .photo-preview__items--add {
    display: block;
    margin-right: -20px;
  }
  .gallery .photo-preview__link{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .gallery .photo-preview--6 .post-preview__img {
    padding-bottom: 64%;
  }
  .photo-preview__link-wrapper {
    height: 100%;
  }
  
  .index .photo-preview .photo-preview--5 {
    display: none;
  }
  
  .photo-preview__item+.photo-preview__item {
    margin-left: 0;
  }
  .photo-preview__link {
    max-width: 452px;
    width: 100%;
  }

  .post-preview__title {
    font-weight: bold;
    font-size: 25px;
    bottom: 35px;
    left: 45px;
  }

  //~~~~ store-preview ~~~~
  .store-preview__img img{
    height: 286px;
  }

  //~~~~ instagram ~~~~
  .instagram__wrapper {
    flex-direction: column;
  }
  .instagram__info-title {
    display: none;
  }
  .instagram__info {
    text-align: center;
    margin-right: 0;
    order: 1;
  }
  .instagram__posts {
    margin-bottom: 28px;
    max-width: 610px;
    gap: 27px;
  }

  .instagram__post:nth-child(4), 
  .instagram__post:nth-child(5), 
  .instagram__post:nth-child(6) {
    display: none;
  }
  .instagram__info-btn {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.05em;
    padding: 12px 100px;
  }

  //~~~~ footer ~~~~
  .footer {
    margin-top: 96px;
    clear: both;

  }
  .footer__content {
    max-width: 452px;
    width: 100%;
    height: 249px;
    margin: 0 auto;
    padding: 0;
    padding-top: 45px;
    flex-direction: column;
    justify-content: start;
  }
  .footer__menu {
    margin: 0 auto;
    margin-left: -50px;
    margin-bottom: 30px;
    justify-content: center;
  }
  .footer__menu-link {
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #000;
  }
  .footer__menu-item {
    margin-left: 50px;
  }
  .footer-social__link-insta {
    width: 48px;
    height: 44px;

  }
  .footer-social__link+.footer-social__link {
    margin-left: 56px;
  }
  .footer-social__link-youtube {
    width: 58px;
    height: 39px;
  }
  .footer-social__link-vk {
    width: 65px;
    height: 39px;
  }
  .footer-social svg path {
    fill: #000;
  }


  //~~~~ about ~~~~
  .about {
    margin-top: 87px;
  }
  .about-photo.section {
    margin-top: 40px;
  }
  .about-photo__img {
    max-width: 610px;
    padding-top: 48%;
  }
  .about .side-title__name,
  .about-contacts .side-title__name,
  .album .side-title__name {
    display: none;
  }
  .about-contacts__text {
    max-width: 610px;
  }
  .about-contacts__social {
    max-width: 452px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-contacts__social-link--insta {
    width: 63px;
    height: 59px;
  }
  .about-contacts__social-link--youtube {
    width: 81px;
    height: 59px;
  }
  
  .about-contacts__social-link--vk {
    width: 90px;
    height: 53px;
  }

  //~~~~ Blog ~~~~
  .favorites {
    margin-bottom: 80px;
  }
  .favorites .last-posts__items {
    max-width: 610px;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }
  .blog.section .side-title {
    left: 0;
    top: 0;
  }
  .blog .last-posts__wrapper {
    margin-top: 20px;
  }
  .post__text,
  .photo-one {
    max-width: 610px;
  }
  .other-posts .last-posts__item:nth-child(4) {
    display: none;
  }
  .last-posts {
    margin-top: 75px;
  }
  .last-posts__date {
    font-weight: 300;
  }
  .other-posts .last-posts__wrapper {
    margin-top: 0;
  }
  .photo-preview {
    margin-top: 80px;
  }
  .gallery .photo-preview__items,
  .gallery .photo-preview__items--add {
    margin-bottom: 0;
  }
  .gallery .photo-preview__items.photo-preview__items--add {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'photo-1 photo-2';
    grid-template-rows: 1fr;
    
  }

  

  //~~~~ Album ~~~~
  .album__title {
    margin-bottom: 22px;
  }
  .album__subtitle {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.01em;
    margin-bottom: 11px;
    font-weight: normal;
  }
  .album-page .link-more {
    margin-top: 42px;
  }

  button.lg-next.lg-icon,
  button.lg-prev.lg-icon {
    display: none;
  }



  //~~~~ Post ~~~~
  .post {
    margin-top: 57px;
    margin-bottom: 64px;
  }
  .post__text,
  .post-container {
    margin: 30px auto;
  }
  .photo-some {
    max-width: 610px;
    margin: 0 auto;
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-dots {
    
    
    display: flex;
    justify-content: center;
    li + li {
      margin-left: 11px;
    }
    button {
      font-size: 0;
      width: 9px;
      height: 9px;
      border:none;
      background-color: #C4C4C4;
      border-radius: 50%;
      padding: 0;
      margin: 0;
    }
    .slick-active button {
      background-color: #000;
    }
  }
  .slick-slide {
    margin: 0 20px;
  }
  .slick-list {
    margin: 0 -20px;
  }

  .photos-trip .slick-dots {
    width: 130px;
    height: 25px;
    overflow: hidden;
    margin: 0 auto;
    .slick-active button {
      background-color: #C4C4C4;
    }
  }
  .photos-trip__items {
    padding-bottom: 80px;
  }

  
  .photos-trip__item {
    // display: block;
    padding-bottom: 0%;
    height: 380px;
    max-width: 100%;
    overflow: hidden;
  }
  .photo-some__img {
    // height: 610px;
    overflow: hidden;
    img {
      height: auto;
    }
  }

  .photos-trip__item img,
  .photo-some__img img {
    position: relative;
    width: auto;
    margin: 0 auto;
  }
  .photos-trip__title {
    margin-bottom: 20px;
  }
  .album .grid-item .album__img  {
    width: 100%;
    height: 100%;
    padding-bottom: 60%;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .lg-outer .lg-img-wrap {
    padding: 75px;
  }


  //~~~~ Store ~~~~
  .store-merch__info-title {
    display: none;
  }
  .store-merch__wrapper {
    flex-direction: column;
  }
  .store-merch__info {
    max-width: 610px;
    order: 2;
    margin-right: 0;
    .link-more {
      margin-left: -154px;
    }
  }
  .store-merch__info-text {
    margin-top: 50px;
    margin-bottom: 37px;
  }
  .store-merch__items {
    max-width: 610px;
    width: 100%;
  }
  .store .photo-preview {
    margin-top: 100px;
  }
  .store-polygraphy__item .store-polygraphy__img {
    max-width: 452px;
  }

  .store-polygraphy.section {
    margin-top: 97px;
  }
  .store-polygraphy .side-title {
    margin-bottom: 0;
  }
  .store-polygraphy .slick-dots {
    margin-top: 25px;
  }

  .store-preset {
    .store-polygraphy__items {
      grid-template-columns: 1fr 1fr;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .store-polygraphy__img {
      padding-bottom: 72%;
    }

  }

  .store-info__wrapper {
    flex-direction: column;
  }
  .store-info__info {
    order: 2;
  }
  .store-info__item {
    margin-left: 0;
    margin-bottom: 33px;

    .store-info__img-min {
      display: block;
    }
    .store-info__img {
      display: none;
    }
  }

  .store-info__item-title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
  .store-info__info-title{
    margin-top: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .store-info__info-title:first-child {
    display: none;
  }
  
   .menu__list+.menu__list {
    margin-left: 0;
  }
  .store-menu .menu__list+.menu__list {
    margin-left: 0;
  }

  .merch .store-container {
    display: block;
  }
  

  .products__photo {
    width: 294px;
    
  }
  .menu.partnership-menu {
    max-width: 640px;
    justify-content: center;
  }
  .partnership__title,
  .statistics__title,
  .feedback__content .side-title  {
    display: none;
  }
  .partnership__wrapper {
    flex-direction: column;
    max-width: 610px;
    margin: 0 auto;
  }
  .partnership__info,
  .statistics__wrapper {
    max-width: 610px;
  }

  .partnership__info {
    order: 2;
  }

  .mediakit .partnership__info-text {
    margin-right: 0;
  }
  .project .partnership__info {
    margin-left: 0;
  }
  .statistics__info {
    text-align: justify;
  }
  .statistics__wrapper {
    margin: 0 auto;
    
  }
  .statistics__img-wrapper {
    padding-bottom: 65%;
    margin-top: 20px;
  }
  .partnership__items {
    margin-top: 0;
    max-width: 766px;
    
  }

  .partnership__items {
    grid-row-gap: 49px;
    grid-column-gap: 59px;
  }
  .section.clients {
    margin-top: 79px;
  }

  .section.feedback {
    margin-top: 132px;
    
  }
  .feedback__wrapper {
    margin-bottom: 97px;
  }
  .feedback .footer {
    position: relative;
  }
  .feedback__img {
    max-width: 452px;
  }
  .feedback__info-title,
  .feedback__name-img,
  .feedback__form-input::placeholder,
  .feedback__btn {
    font-size: 15px;
    letter-spacing: 0.05em;
  }
  .feedback__form-input {
    padding-bottom: 7px;
  }
  .feedback__btn {
    padding: 15px 60px;
  }
  .partners .partnership__wrapper,
  .clients .partnership__wrapper {
    max-width: 766px;
  }
  .ordering-cart__item--total {
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .products__items {
    margin-right: -20px;
  }
  

  .products__item {
    margin-right: 20px;
    margin-bottom: 34px;
  }
  .products__info-name {
    max-width: 200px;
  }
  .store__wrapper {
    display: block;
    margin-bottom: 0;
    margin-top: 94px;
  }
  .aside-store {
    overflow: hidden;
    position: absolute;
    z-index: 999;
    transition: all 0.8s;
  }
  .aside-store .aside-store__list {
    display: none;
  }
  .aside-store.active .aside-store__list {
    display: block;
    background-color: #fff;
    padding: 20px 50px 25px 0;
    margin-top: -30px;
    
    
  }

  .products__top-title {
    display: none;
  }
  .products__top-form {
    width: 100%;
    text-align: right;
  }
  .feedback__wrapper {
    max-width: 766px;
  }
  .product-recommended__item.products__item:last-child {
    display: none;
  }
  .product-page {
    margin-left: 0;
  }
  .product-page__top {
    flex-direction: column;
  }

  .product-page .breadcrumbs,
  .product-page__top,
  .product-infos,
  .product-buy,
  .product-page__images {
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
  }
  .product-page__images {
    margin-bottom: 26px;
    order: 1;
    margin-top: 11px;
  }
  .product-page__top {
    order: 2;
  }
  .product-page__recommended {
    order: 3;
    margin-top: 75px;
  }
  .product-infos{
    order: 0;
  }
  .product-infos__properties {
    margin-left: 0;
    
  }
  .product-infos__description {
    margin-bottom: 14px;
  }
  .product-infos__img {
    display: none;
  }
  .product-recommended__name {
    text-align: center;
    font-family: 'Alcotton', serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
  }
  .product-buy__type {
    display: none;
  }
  .product-buy__properties {
    display: flex;
    justify-content: space-between;
    order: 2;
  }
  .product-buy__top {
    flex-direction: column;
  }
  .product-buy__price {
    margin-bottom: 10px;
  }
  .product-buy__color {
    margin: 0;
    margin-right: 20px;
  }
  .product-buy__color,
  .product-buy__size {
    flex-basis: 50%;
    
  }

  .product-buy__size-name,
  .product-buy__color-name {
    display: none;
  }
  .product-buy .color-name--mobile,
  .product-buy .size-name--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-buy__size .product-buy__size-items,
  .product-buy__color .product-buy__color-items {
    display: none;
  }
  .product-buy__size,
  .product-buy__color {
    position: relative;
  }
  .product-buy__size._active .product-buy__size-items,
  .product-buy__color._active  .product-buy__color-items {
    position: absolute;
    top: 50px;
    left: 0;
    height: auto;
    background-color: #fff;
    z-index: 50;
  }

  .product-buy__color._active .product-buy__color-items{
    margin-left: -1px;
    width: 100%;
    padding: 20px 20px 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    span{
      width: 25px;
      height: 25px;
      & + span {
        margin-left: 0;
      }
    }
  }

  .product-buy__size._active .product-buy__size-items {
    width: 101%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 20px 10px;
    span {
      text-align: center;
      width: 40px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #C4C4C4;
    }
    span + span {
      margin-left: 0;
    }
  }
  
  


  


  
  

}





//* ======= 1023 =======
//* =====================
@media (max-width: 1023px) {
  .album__items {
    max-width: 790px;
  }
  .album .grid-item {
    width: 385px;
  }

  .gallery .container {
    padding: 0 30px 0 50px;
  }
  .gallery .photo-preview__items,
  .gallery .photo-preview__items--add {
    width: 730px;
    display: block;
    margin: 0 auto;
  }
  .gallery .photo-preview__link {
    width: 345px;
  }

}


//* ======= 990 =======
//* =====================
@media (max-width: 990px) {
  .store-merch__info .link-more {
    margin-left: 0;
  }
}

//* ======= 890 =======
//* =====================
@media (max-width: 890px)  {
 
  body {
    font-size: 16px;
  }
  .title {
    font-size: 24px;
  }
  .container {
    padding: 0 30px;
    
  }
  .header__content.store-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .section .side-title__name {
    font-size: 24px;
  }
  .burger {
    display: block;
  }
  
  .header__content {
    justify-content: space-between;
    padding-top: 37px;

  }
  .logo {
    margin-left: 20px;
    transition: z-index 0.5s linear;
    z-index: 60;
  }
  .header-social {
    display: block;
    position: absolute;
    z-index: 60;
    left: -100%;
    top: 530px;
    transition: all 0.5s linear;
  }
  .header__content.active .header-social {
    left: 50px;   
  }
  .social-store {
    top: 440px;
  }
  .header__content.active .social-store {
    top: 440px;
  }
  
  .menu {
    display: block;
    padding: 140px 50px 0 50px;
    background-color: #fff;
    font-size: 26px;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    position: absolute;
    margin-top: 0;
    top: 0;
    left: -100%;

    z-index: 50;
    transition: all 0.5s linear;
  
    .menu__list {
      margin: 0 0 40px 0;  
    }
    .menu__link::before {
      content: '';
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      width: 28px;
      height: 13px;
      top: 50%;
      transform: translateY(-50%);
      right: -50px;
      z-index: 5;
    }
 
  }
  
  .header__content.media-green .menu {
    background-color: #354936;
    .menu__link {
      color: #fff;
      &::before {
        background-image: url(../images/icons/arrow-right-light-white.svg);
      }
    }
    
  }
  
  .header__content.media-black .menu {
    background-color: #fff;
    .menu__link {
      color: #000;
      &::before {
        background-image: url(../images/icons/arrow-right-light.svg);
      }
    }
  }
  .header .logo path,
  .social__link path {
    transition: all 0.5s linear;
  }
  .header__content.active.media-black {
    .burger.active span {
      background-color: #000;
      transition: all 0.5s linear;
    }
    .logo svg path {
      fill: #000;
    }
    .social__link path {
      fill: #000;
      transition: all 0.5s linear;
    }
  }
  .menu__link {
    position: relative;
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 0.1em;
  }
  

  .banner__info {
    margin-left: 50px;
  }

  .acquaintance__text p+p {
    margin-top: 25px;
  }

  .last-posts__items {
    grid-template-columns: 1fr 1fr;
  }
  .last-posts__item:nth-child(5),
  .last-posts__item:nth-child(6) {
    display: none;
  }

  .last-posts__img {
    padding-bottom: 65%;
  }
  .footer__menu {
    margin-left: -40px;
  }
  .footer__menu-item {
    margin-left: 40px;
  }
  .footer__menu-link {
    font-size: 16px;
  }
  .about-contacts__social-link+.about-contacts__social-link {
    margin-left: 70px;
  }
  .other-posts .last-posts__item:nth-child(3) {
    display: none;
  }
  .album__items {
    max-width: 706px;
  }
  .album .grid-item {
    width: 343px;
  }
  .album__subtitle {
    font-size: 16px;
  }
  .lg-outer .lg-img-wrap {
    padding: 70px;
  }
  button.lg-close.lg-icon {
    margin-right: 30px;
    margin-top: 30px;
    background-image: url(../images/icons/popup-close_min.svg);
  }
  .slick-dots {
    flex-wrap: wrap;
    padding: 0 20px;
  } 
  .cart__link {
    margin-right: 64px;
  }
  .store__wrapper {
    margin-top: 60px;
  }
}


//* ======= 768 =======
//* =====================
@media (max-width: 768px) {
  .banner__info {
    margin-left: 0;
  }
  .post-preview__title {
    font-size: 22px;
    bottom: 30px;
    left: 30px;
  }
  .album__items {
    max-width: 600px;
  }
  .album .grid-item {
    width: 290px;
  }
  .product-item {
    // height: 138px;
    height: auto;
    grid-template-columns: 1fr 35%;
    row-gap: 13px;
  }
  .cart__top {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  .product-item__info-property,
  .product-item__info-price,
  .product-item__name {
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  .info-cart__quantity-number {
    margin: 0 5px;
  }.product-item__img {
    width: 100%;
    height: 100%;
    padding-bottom: 60%;
  }
  .product-item+.product-item {
    margin-top: 25px;
  }
  .gallery .photo-preview__items,
  .gallery .photo-preview__items--add {
    width: 640px;
    
  }
  .gallery .photo-preview__link {
    width: 300px;
  }
  .gallery .container {
    padding: 0 10px 0 30px;
  }

}


//* ======= 680 =======
//* =====================
@media (max-width: 680px) {
  .last-posts__items {
    grid-template-columns: 1fr;
    margin-bottom: 24px;
  }
  .last-posts__item:nth-child(3),
  .last-posts__item:nth-child(4) {
    display: none;
  }
  .last-posts__img {
    padding-bottom: 47%;
  }
  .gallery .photo-preview__link {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .photo-preview__link {
    max-width: 100%;
  }
  .gallery .container {
    padding: 0 30px;
  }
  .photo-preview__items {
    grid-template-columns: 1fr;
  }
  .gallery .photo-preview__items,
  .gallery .photo-preview__items--add {
    width: 100%;
  }

  .photo-preview__link:not(:first-child) {
    display: none;
  }
  .gallery .photo-preview__link {
    display: block;
  }
  .gallery .photo-preview__link+.photo-preview__link {
    margin-top: 20px;
  }

  .gallery .photo-preview--6 .post-preview__img, 
  .gallery .photo-preview--5 .post-preview__img {
    padding-bottom: 64%;
  }
  
  .photo-preview__item--first {
    margin-bottom: 0;
  }
  .photo-preview__items {
    margin-bottom: 19px;
  }
  .store-preview__item {
    display: none;
  }
  .store-preview__items {
    display: block;
    margin-bottom: 19px;
  }
  .store-preview__item:first-child {
    display: flex;
    
  }
  .store-preview__img {
    width: 100%;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .store-preview__img .post-preview__img{
    height: 100%;
    padding-bottom: 64%;
  }
   
  .store-preview .link-more {
    display: block;
  }

  .instagram__posts {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .instagram__post:nth-child(4) {
    display: block;
  }
  .instagram__info-text {
    margin-bottom: 15px;
  }
  .about-contacts__social-link+.about-contacts__social-link {
    margin-left: 50px;
  }
  .about-contacts__social-link--insta {
    width: 48px;
  }
  .about-contacts__social-link--youtube {
    width: 62px;
  }
  .about-contacts__social-link--vk {
    width: 68px;
  }
  
  .album .grid-item {
    width: 100%;
      .album__img{
      width: 100%;
      height: auto;
      padding-bottom: 0;
      position: relative;
      img {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
  .store-polygraphy__items {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
  .store-preset .store-polygraphy__items {
    grid-template-columns: 1fr;
  }
  
  .store-polygraphy__item .store-polygraphy__img {
    max-width: 100%;
  }

  .store .photo-preview,
  .store-polygraphy.section {
    margin-top: 60px;
  }

  .store-polygraphy__item .store-polygraphy__img {
    padding-bottom: 64%;
  }
  .store-polygraphy__item:not(:first-child) {
    display: none;
  }
  .store-info__info-title:not(:first-child) {
    margin-top: 28px;
  }
  .partnership__items {
    grid-row-gap: 13px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
  .feedback__img,
  .feedback__name {
    display: none;
  }
  .feedback__info {
    max-width: 100%;
    text-align: center;
  }
  .feedback__form {
    max-width: 325px;
    margin: 0 auto;
  }
  .feedback__info-title, .feedback__name-img, .feedback__form-input::placeholder, .feedback__btn {
    font-size: 12px;
    letter-spacing: normal;
  }
  .feedback__form-input {
    margin-top: 20px;
  }
  .feedback__wrapper,
  .feedback__content {
    margin-bottom: 35px;
  }


  .products__items {
    margin-right: 0;
  }
  .products__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 26px;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-areas:
    "photo info"
    "photo btn";
    grid-column-gap: 20px;
  }
  .products__photo {
    width: 100%;
    margin-right: 20px;
    grid-area: photo;
  }
  .products__photo-img {
    padding-bottom: 62%;
  }
  .products__info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    max-width: 100%;
    width: 100%;
    grid-area: info;
  }
  .products__info-name {
    order: 2;
    flex-basis: 0;
    font-size: 14px;
    max-width: 100%;
  }

  .products__color {
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 12px;
    width: 9px;
    height: 9px;
    &::before {
      width: 12px;
      height: 12px;
    }
  }
  .products__price {
    order: 3;
    flex-basis: 100%;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
  .products__info-btn {
    display: block;
    order: 4;
    grid-area: btn;
    margin-top: auto;
    button {
      background-color: #fff;
      border: 1px solid #000;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding: 8px 10px;

    }
    
  }
  .aside-store.active .button-group {
    padding: 20px 20px 10px 0;
  }
  .aside-store__title,
  .products__top-form select,
  .products__top-form select option{
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  .products__top-form select {
    padding-right: 17px;
  }
  .products__top-form::after {
    width: 10px;
    height: 7px;
    top: 4px;
    right: 0;
  }
  .products__info-size {
    margin-bottom: 10px;
  }
}



//* ======= 520 =======
//* =====================
@media (max-width: 520px) {
  
}


//* ======= 415 =======
//* =====================
@media (max-width: 415px) {
  body {
    font-size: 14px;
  }
  .title {
    letter-spacing: 0.1em;
    font-size: 18px;
  }
  .image--1024 {
    display: none;
  }
  .image--414 {
    display: block;
  }
  
  .about-title--mobile {
    display: block;
  }
  .about-title--pc {
    display: none;
  }
  .section {
    margin-top: 33px;
  }
  .header-partnership.section {
    margin-top: 0;
  }
  .section .side-title__name {
    font-size: 18px;
  }
  .side-title {
    margin-bottom: 11px;
  }

  .burger {
    right: 60px;
    top: 50px;
    span {
      width: 22px;
      height: 2px;
    }
    .burger-line--1 {
      top: -6px;
    }
    .burger-line--3 {
      top: 6px;
    }
  }
  .menu {
    padding: 110px 30px 0 30px;
  }
  .menu__link {
    font-size: 18px;
  }
  .header .logo {
    margin-left: 0;
    svg {
      width: 81px;
    }
  }
  .header-social {
    top: 470px;
  }

  .header__content.active .header-social {
    left: 30px;
    top: 470px;
  }
  .social-store {
    top: 400px;
  }
  .header__content.active .social-store {
    top: 400px;
  }
  .header__content  {
    padding-top: 26px;
  }

  .banner-header__caption-name {
    font-size: 18px;
    margin-bottom: 11px;
  }
  .banner-header__caption-line {
    width: 6px;
  }

  .acquaintance__photo {
    margin-bottom: 28px;
  }
  .acquaintance__text p+p {
    margin-top: 15px;
  }
  
  .last-posts__text {
    max-width: 230px;
    font-size: 12px;
    letter-spacing: normal;
  }
  .last-posts__date {
    position: absolute;
    right: 0;
    bottom: 17px;
    margin-bottom: 0;
    font-size: 12px;
  }
  .favorites .last-posts__items {
    grid-template-columns: 1fr;
  }
  .favorites {
    margin-bottom: 53px;
  }
  .link-more {
    font-size: 12px;
    padding-left: 30px;
  }
  .link-more::before {
    width: 24px;
  }

  .banner {
    margin-top: 58px;
  }
  
  .banner__info-title {
    max-width: 260px;
    font-size: 15px;
    letter-spacing: 0.1em;
  }
  .banner__info-text {
    max-width: 260px;
    margin-bottom: 15px;
  }

  .btn,
  .banner__info-btn  {
    font-size: 12px;
    letter-spacing: 0.05em;
    padding: 8px 21px;
    margin-top: 23px;
  }
  .instagram__info-btn.btn {
    margin-top: 0;
  }

  .post-preview__title {
    font-size: 15px;
    letter-spacing: 0.1em;
    bottom: 24px;
    left: 30px;
  }
  .photo-preview .photo-preview--1 {
    // padding-bottom: 73%;
  }
  
  

  .footer {
    margin-top: 27px;
    
  }
  .footer__content {
    max-width: 295px;
    padding-top: 24px;
    height: auto;
  }

  .footer__menu-link {
    font-size: 14px;
  }
  .footer__menu {
    margin-left: -30px;
    margin-bottom: 14px;
  }
  .footer__menu-item {
    margin-left: 30px;
  }
  .footer__menu-item+.footer__menu-item {
    margin-left: 30px;

  }
  .footer-social {
    margin-bottom: 45px;
  }
  .footer-social__link-insta {
    width: 28px;
    height: 24px;

  }
  .footer-social__link+.footer-social__link {
    margin-left: 36px;
  }
  .footer-social__link-youtube {
    width: 35px;
    height: 23px;
  }
  .footer-social__link-vk {
    width: 37px;
    height: 22px;
  }

  //~~~~ about ~~~~
  .about {
    margin-top: 20px;
  }
  .about__text {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  .about-contacts__text {
    margin-top: 12px;
  }
  .about__text p {
    margin-bottom: 15px;
  }
  .about-contacts__social {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .about-contacts__social-link+.about-contacts__social-link {
    margin-left: 40px;
  }
  .about-contacts__social-link--insta {
    width: 39px;
    height: 34px;
  }
  .about-contacts__social-link--youtube {
    width: 47px;
    height: 32px;
  }
  .about-contacts__social-link--vk {
    width: 50px;
    height: 30px;
  }
  .last-posts {
    margin-top: 32px;
  }

  .album__subtitle {
    font-size: 12px;
    letter-spacing: normal;
    margin-bottom: 8px;
  }
  .album-page .title {
    margin-bottom: 5px;
  }
  .album.section {
    margin-top: 21px;
  }
  .album-page .link-more {
    margin-top: 20px;
  }
  .about-photo__img {
    max-width: 354px;
    padding-top: 73%;
  }
  .gallery .photo-preview__link-wrapper,
  .gallery .photo-preview--6 .post-preview__img, 
  .gallery .photo-preview--5 .post-preview__img {
    padding-bottom: 73%;
  }
  .photos-trip__items {
    padding-bottom: 40px;
  }
  .photos-trip__item {
    // display: block;
    padding-bottom: 0%;
    height: 212px;
    max-width: 100%;
  }
  .photos-trip__title {
    margin-bottom: 14px;
  }
  .post {
    margin-top: 30px;
    margin-bottom: 42px;
  }
  .photos-trip .slick-dots {
    height: 20px;
  }
  .store .photo-preview,
  .store-polygraphy.section {
    margin-top: 30px;
  }
  .store-polygraphy__item .store-polygraphy__img {
    padding-bottom: 73%;
  }
  .store-info__item .store-info__img-min {
    height: 258px;
    object-fit: cover;
  }
  
  .cart__link svg {
    width: 25px;
    height: 23px;
  }
   .statistics__img-wrapper {
     margin-top: 0;
   }
  .statistics__info {
    margin-top: 28px;
  }
  
  .section.clients {
    margin-top: 34px;
  }
  .section.feedback {
    margin-top: 55px;
  }
  .feedback__form {
    max-width: 167px;
    margin: 0 auto;
  }
  .ordering-cart {
    margin-top: 47px;
  }
  .ordering-cart__item {
    font-size: 12px;
    letter-spacing: 0.05em;
  }
  .ordering-cart__info {
    font-size: 14px;
    letter-spacing: 0.01em;
  }
  .ordering-cart__btn {
    font-size: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }
  .partnership__item-name {
     margin-top: 8px;
  }
  .store__wrapper {
    margin-top: 30px;
  }
  .products__item {
    grid-template-columns: 1fr 136px;
  }
  .products__info-name {
    font-size: 12px;
  }

  .products__color {
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 12px;
    width: 7px;
    height: 7px;
    &::before {
      width: 9px;
      height: 9px;
    }
  }
  .products__price {
    font-size: 12px;
  }
  .products__info-btn {
    button {
      font-size: 12px;
    }
  }
  .aside-store__title,
  .products__top-form select,
  .products__top-form select option{
    font-size: 12px;
  }
  .products__top-form select {
    padding-right: 17px;
  }
  .color-name--mobile,
  .size-name--mobile {
    width: 138px;
    height: 49px;
  }.product-buy__color._active .product-buy__color-items{
    width: 140px;
    padding: 20px 20px 20px 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-buy__size._active .product-buy__size-items {
    width: 140px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px 6px 20px 6px;
    
  }
  
  
  
  
}


//* ======= 375 =======
//* =====================
@media (max-width: 375px) {
  .section {
    margin-top: 33px;
  }
  .header-partnership.section {
    margin-top: 0;
  }
  .products__item {
    grid-template-columns: 1fr 96px;
    grid-template-areas:
        "photo photo"
        "info btn";
    // justify-content: space-between;
  }
  .products__photo {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .products__info {
    max-width: 100%;
  }
  .product-item{
    grid-template-columns: 1fr 1fr 47px;
    align-items: center;
    
    grid-template-areas:
        "photo photo photo"
        "info qty del"
  }
  .product-item__info-del {
    text-align: right;
  }
  .info-cart__quantity {
    margin: 0;
  }
  .product-item__info-property {
    display: none;
  }
  .product-item__info-price {
    margin-bottom: 0;
  }
  
}

//* ======= 320 =======
//* =====================
@media (max-width: 320px) {
  .section {
    margin-top: 33px;
  }
  .header-partnership.section {
    margin-top: 0;
  }
  .gallery .photo-preview__link-wrapper,
  .gallery .photo-preview--6 .post-preview__img, 
  .gallery .photo-preview--5 .post-preview__img {
    padding-bottom: 66%;
  }
  .store-info__item .store-info__img-min {
    height: 171px;

  }

}