.about {
  margin-top: 115px;
  .title {
    text-align: center;
  }
  &__text {
    max-width: 610px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
    p {
      margin-bottom: 30px;
    }
  }
}



.about-photo {
  
  margin-top: 70px;
  &__img {
    max-width: 955px;
    text-align: center;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}


.about-contacts {
  margin-top: 100px;

  .title {
    text-align: center;
  }

  &__text {
    margin: 0 auto;
    margin-top: 37px;
    max-width: 710px;
    p {
      margin-bottom: 30px;
    }
  }

  &__text--link {
    display: inline;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    transition: text-shadow 0.3s;
    &:hover {
      text-shadow: 0 0 0.4px, 0 0 0.4px;
      font-weight: 500;
    }
  }

  &__social {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
      transition: opacity 0.3s;
      text-align: center;
      & + .about-contacts__social-link {
        margin-left: 135px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }

  
}
