
//*------ PAGE-CART -------

.cart {

  &__top {
    max-width: 1200px;
    width: 100%;
    margin: 115px auto 68px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Alcotton', serif;
    color: #000;
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
  }

  &__top-arrow {
    transition: opacity 0.3s;
    svg {
      width: 32px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.info-cart {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  
  &__inner {
    max-width: 602px;
    width: 100%;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 23px;
  }

  &__product {
    display: flex;
    justify-content: space-between;
  }

  &__quantity {
    width: 62px;
    margin-left: auto;
    margin-top: 34px;
    margin-right: 30px;
    grid-area: qty;
    
  }

  &__quantity-items {
    display: flex;
    justify-content: space-between;
  }

  &__quantity-minus {
    cursor: pointer;
  }

  &__quantity-plus {
    cursor: pointer;
  }
  &__quantity-number {
    margin: 0 15px;
  }

}

.product-item {
  display: grid;
  grid-template-columns: 224px 1fr 100px;
  grid-template-areas:
      "photo info qty"
      "photo info qty"
      "photo del qty";
  row-gap: 15px;
  column-gap: 20px;
  & + .product-item {
    margin-top: 44px;
  }
  &__img {
    // margin-right: 20px;
    position: relative;
    grid-area: photo;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    grid-area: info;
  }

  &__name {
    display: block;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__info-price {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 17px;
  }

  &__info-currency {
    margin-left: 3px;
  }

  &__info-property {
    font-weight: 300;
    font-size: 14px;
    & + .product-item__info-property {
      margin-top: 5px;
    }
    span + span{
      margin-left: 3px;
    }
  }
  &__info-del {
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    grid-area: del;
  }
  
}

.ordering-cart {
  width: 335px;
  &__name {
    margin-bottom: 56px;
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
  }

  &__item {
    margin-bottom: 13px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
  }
  &__item-number {
    margin-right: 3px;
  }
  &__item--total {
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  &__btn {
    margin-bottom: 26px;
    font-weight: 300;
    font-size: 16px;
  }

  &__info {
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    p + p{
      margin-top: 20px;
    }
    a {
      padding-left: 3px;
      display: inline;
      text-decoration: underline;
    }
  }
}



