
//*------ Partnership -------
.header.partnership {
  position: fixed;
}
.partnership {

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
  }

  &__info {
    max-width: 480px;
    width: 100%;
  }

  &__title {

    
  }

  &__info-text {
    margin-top: 37px;
    
    text-align: justify;

    p+p {
      margin-top: 30px;
    }
  }
  

  &__img {
    max-width: 832px;
    width: 100%;
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #A5A5A5;
    padding-bottom: 75%;

    position: relative;
    img {
      position: absolute;
      max-width: 832px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__items {
    max-width: 953px;
    width: 100%;
    margin: 0 auto;
    margin-top: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 38px;
    grid-column-gap: 141px;
    justify-content: space-between;
  }

  &__item {
    .partnership__img-wrapper {
      padding-bottom: 100%;
    }
  }

  &__item-name {
    margin-top: 13px;
    font-weight: 300;
  }
}
.mediakit .partnership__info-text {
  margin-right: 50px;
}

.project .partnership__info {
  margin-left: 50px;
}

//*------ mediakit -------
.mediakit {
}

//*------ project -------
.project {
  .partnership__info {
    order: 2;
  }
}

//*------ statistics -------
.statistics {
  text-align: center;

		&__wrapper {
      margin: 50px auto;
		}

		&__img {
      width: 100%;
      
		}

		&__img-wrapper {
      width: 100%;
      margin-top: 20px;
      height: 100%;
      padding-bottom: 43%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
		}

		&__info {
      margin: 0 auto;
      margin-top: 33px;
      max-width: 1200px;
      width: 100%;
		}

		&__info-text {
      
		}
}


//*------ partners / clients -------
.partners,
.clients {
  text-align: center;
  .partnership__wrapper {
    flex-direction: column;
  }
}


//*------ feedback -------
.feedback {
  position: relative;
  &__content {
    margin-bottom: 97px;
  }

  &__wrapper {
    max-width: 953px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__info {
    max-width: 345px;
    width: 100%;
  }

  &__name {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
    &-img {
      
      width: 50px;
      height: 50px;
      margin-right: 13px;
      border-radius: 50%;
      background-color: #A5A5A5;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;

      }
    }
    
  }

  &__info-title {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    // margin-bottom: 20px;
  }

  &__form {
    max-width: 345px;
    width: 100%;

  }

  &__form-input {
    margin-top: 40px;
    max-width: 345px;
    width: 100%;
    padding-top: 5px;
    // font-weight: 300;
    font-size: 16px;
    border: none;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    outline: none;
    &::placeholder {
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      color: #A5A5A5;
      // padding-left: 5px;
      
    }
  }

  &__btn {
    margin-top: 54px;
  }

  &__img {
    margin-left: 50px;
    max-width: 467px;
    width: 100%;
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #A5A5A5;
    padding-bottom: 108%;

    position: relative;
    img {
      position: absolute;
      max-width: 832px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
