
//*------ PRODUCT-PAGE -------
.product-page {
  margin-top: 128px;
  &__wrapper {
  }

  &__top {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
  }

  &__images {
    margin-top: 42px;
    margin-bottom: 103px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -19px;
  }

  &__img {
    max-width: 710px;
    width: 100%;
    margin-bottom: 19px;
    margin-right: 19px;
    img {
      width: 100%;
    }
  }

}

.product-infos {
  max-width: 830px;
  width: 100%;
  margin-right: 50px;

  &__img {
    margin-bottom: 52px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    margin-bottom: 37px;
    font-weight: 300;
  }

  &__properties {
    margin-left: 120px;
  }

  &__properties-item {
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 14px;
  }
  &__properties-item--bold {
    font-weight: normal;
  }
}

.product-buy {
  max-width: 345px;
  width: 100%;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__properties {
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 300;
  }

  &__type {
    margin-bottom: 10px;
    span {
      margin-right: 3px; 
    }
  }

  &__color {
    margin: 25px 0;
  }

  &__color-name {
    display: block;
    margin-bottom: 10px;
  }

  &__color-items {
    display: flex;
    span {
      cursor: pointer;
      width: 18px;
      height: 18px;
      margin: 0;
      margin-right: 12px;
      
    }
  }

  &__size {
  }

  &__size-name {
  }

  &__size-items {
    span {
      margin-right: 13px;
      cursor: pointer;
    }
  }

  &__price {
    text-align: right;
    font-weight: normal;
    font-size: 24px;
  }

  &__price-currency {
    margin-left: 3px;
  }

  &__price-stock {
    display: block;
    margin-top: 3px;
    font-weight: 300;
    font-size: 16px;
    color: green;
    &.outofstock {
      color: #E62435;
    }
  }
}


.buy-info {
  font-weight: 300;
  margin-top: 23px;
  font-size: 16px;
  &__city {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__city-link {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #000;
      position: absolute;
      bottom: 2px;
      right: 0;
    }
  }

  &__text {
    margin-top: 27px;
    p {
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
}

.product-recommended {

  &__name {
    margin-bottom: 19px;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-right: -19px;
    margin-bottom: 30px;
  }

  &__item {
    max-width: 345px;
    width: 100%;
  }
  .products__item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
  }
}



//* ~~~~~~~~ SPOLLER ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.spoller {
	&__title {
		cursor: pointer;
		position: relative;
		&::before {
			content: "";
			width: 13px;
			background-color: #000;
			height: 1px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(-45deg);
			position: absolute;
			right: 16px;
			top: 50%;
		}
		&::after {
			content: "";
			width: 13px;
			background-color: #000;
			height: 1px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(45deg);
			position: absolute;
			right: 25px;
			top: 50%;
		}
		
  }
  &.active {
    & .spoller__title::before {
      transform: translate(0, -50%) rotate(45deg);
    }
    & .spoller__title::after {
      transform: translate(0, -50%) rotate(-45deg);
    }
    .spoller__body {
      display: block;
    }
  }
	
	&__body {
    display: none;
    padding: 15px 15px 0 0;
	}
}



//* ~~~~~~~~ RADIO ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.radio {
  margin-bottom: 10px;
}
.radio input {
	position: absolute;
	z-index: -1;
	opacity: 0;
  margin: 10px 0 0 7px;
  
}
.radio__text {
	position: relative;
	padding: 0 0 5px 35px;
  cursor: pointer;
  font-size: 16px;
}
.radio__text:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #6D6D6D;
	border-radius: 50%;
	background: #FFF;
}
.radio__text:after {
  content: '';
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
	position: absolute;
	top: -2px;
  left: 2px;
  width: 16px;
  height: 15px;
	opacity: 0;
	transition: .2s;
}
.radio input:checked + .radio__text:after {
	opacity: 1;
}
.radio input:focus + .radio__text:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.7);
}
