//*------ STORE -------
.store-container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.store-menu {
  .menu__list + .menu__list {
    margin-left: 110px;
  }
}

.store {
  &__wrapper {
    margin-top: 157px;
    margin-bottom: 114px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 240px 1fr;
  }

}

//*------ store-merch -------
.store-merch {
  margin-top: 160px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    max-width: 600px;
    width: 100%;
    margin-right: 50px;
    
  }
  &__info-text {
    margin-top: 37px;
    margin-bottom: 45px;
    p {
      margin-bottom: 30px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  &__item {
    display: flex;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//*------ store-polygraphy -------
.store-polygraphy {
  margin-top: 87px;
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    .post-preview__img {
      width: 345px;
      padding-bottom: 100%;

    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

//*------ store-info -------
.store-info {
  margin-top: 185px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 600px;
  } 


  &__info-title {
    margin-bottom: 35px;
    &:not(:first-child) {
      margin-top: 70px;
    }
    
  }

  &__info-text {
    margin-bottom: 20px;
  }



  &__item {
    margin-left: 50px;
    max-width: 587px;
    img {
      width: 100%;
    }
  }
}





//*------ aside-store -------

.aside-store {
  margin-right: 30px;
  &__title {
    margin-bottom: 35px;
    font-size: 16px;
  }

  &__item {
    margin-bottom: 10px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.5;
    }
    &.is-checked {
      opacity: 0.5;
    }
  }
  &__link {
    font-size: 16px;
  }
  .aside-store__item.aside-store__del {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    a {
      text-decoration: underline;
    }
  }
}


.products {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__top-title {
    font-weight: 400;
    font-size: 16px;
  }

  &__top-form {
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 13px;
      height: 9px;
      background-image: url(../images/icons/select-arrow.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      position: absolute;
      right: 5px;
      top: 5px;
      transition: transform 0.3s;
    }
    &.active::after {
      transform: scale(1, -1);
    }

    select {
      font-size: 16px;
      font-family: 'Circe', serif;

      border: none;
      text-transform: uppercase;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding-right: 26px;
      
      option {
        text-transform: uppercase;
        border: none;
        font-size: 16px;
        font-family: 'Circe', serif;
      }
    }
    select::-ms-expand {
      display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    }
    
  }


  &__items {
    margin-right: -13%;
  }

  &__item {
    display: inline-block;
    margin-bottom: 72px;
    margin-right: 11.5%;
  }

  &__photo {
    max-width: 467px;
    width: 100%;
    
    position: relative;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__photo-img {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__info {
    max-width: 467px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
  }

  &__info-name {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    flex-basis: 80%;
  }

  &__info-color {
    // flex-basis: 10%;
    display: flex;
  }
  &__info-size {
    font-size: 14px;
    // flex-basis: 18%;
  }

  &__color {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
  }

  &__color--black {
    background-color: #354936;
  }

  &__color--red {
    background-color: #E62435;
  }

  &__color-beige {
    background-color: #F5EBDF;
  }

  &__price {
    font-size: 16px;
  }

  &__price-count {
  }

  &__price-currency {
  }
}


//*------ Polygraphy -------
