//*------ STORE -------
.store-container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.store-menu {
  .menu__list + .menu__list {
    margin-left: 110px;
  }
}

.store {
  &__wrapper {
    margin-top: 157px;
    margin-bottom: 114px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 240px 1fr;
  }

}

.aside-store {
  margin-right: 100px;
  &__title {
    margin-bottom: 35px;
    font-size: 16px;
  }

  &__item {
    margin-bottom: 10px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.5;
    }
    &.is-checked {
      opacity: 0.5;
    }
  }
  &__link {
    font-size: 16px;
  }
}


.products {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__top-title {
    font-weight: 400;
    font-size: 16px;
  }

  &__top-form {
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 13px;
      height: 9px;
      background-image: url(../images/icons/select-arrow.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      position: absolute;
      right: 5px;
      top: 5px;
      transition: transform 0.3s;
    }
    &.active::after {
      transform: scale(1, -1);
    }

    select {
      font-size: 16px;
      font-family: 'Circe', serif;

      border: none;
      text-transform: uppercase;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding-right: 26px;
      
      option {
        text-transform: uppercase;
        border: none;
        font-size: 16px;
        font-family: 'Circe', serif;
      }
    }
    select::-ms-expand {
      display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    }
    
  }


  &__items {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    margin-right: -13%;
  }

  &__item {
    display: inline-block;
    margin-bottom: 72px;
    margin-right: 11.5%;
    // &:nth-child(odd) {
    //   margin-right: 13%;
    // }
  }

  &__photo {
    width: 467px;
    height: 337px;
    position: relative;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__photo-img {
    width: 100%;
    height: 100%;
  }

  &__info {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
  }

  &__info-name {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  &__info-color {
    display: flex;
  }
  &__info-size {
    font-size: 14px;
  }

  &__color {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 8px;
  }

  &__color--black {
    background-color: #354936;
  }

  &__color--red {
    background-color: #E62435;
  }

  &__color-beige {
    background-color: #F5EBDF;
  }

  &__price {
    font-size: 16px;
  }

  &__price-count {
  }

  &__price-currency {
  }
}


//*------ Polygraphy -------
