// @import "magnific-popup";
@import "vars";
@import "lightgallery.min";
@import "libs";
@import "fonts";
@import "global";

//* ~~~~~~~~ Header ~~~~~~~~
.header {
  position: relative;
  z-index: 100;
  
  &__content {
    padding-top: 47px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    max-width: 180px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
}


//*~~~~~~~~ Social ~~~~~~~~
.social {
  &__link {
    transition: opacity 0.3s;
    display: inline-block;
    & + .social__link {
      margin-left: 32px;
    }
    &:hover {
      opacity: 0.6;
    }
    
  }
}


//*~~~~~~~~ Banner-header ~~~~~~~~
.banner-header {
  min-height: 100vh;
  position: relative;
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  

  &__caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    & path {
      fill: #fff;
    }
  }

  &__caption-name {
    // display: block;
    font-family: 'Alcotton', serif;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin: 0 auto;
  }

  &__caption-line {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 8px;
  }
}

//* ~~~~~~~~ Acquaintance ~~~~~~~~
.acquaintance {
  &__wrapper {
    margin-top: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    max-width: 710px;
    width: 100%;
    margin-right: 50px;
    // 
    .photo {
      width: 100%;
      padding-top: 100%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    
  }

  &__text {
    max-width: 610px;
    p + p {
      margin-top: 35px;
    }
  }
}

//* ~~~~~~~~ Last Posts ~~~~~~~~
.last-posts {

  &__wrapper {
    margin-top: 190px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__date {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  &__text {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }

  &__img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 12px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}


//* ~~~~~~~~ Banner ~~~~~~~~
.banner {
  margin-top: 137px;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__info {
    position: relative;
    color: #fff;
  }

  &__info-title {
    margin-bottom: 37px;
    max-width: 480px;
    font-family: 'Alcotton', serif;
    font-size: 28px;
    font-weight: 400;

  }

  &__info-text {
    max-width: 590px;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
  }

  &__info-btn {
    margin-top: 40px;
    padding: 10px 21px 8px 21px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}

//* ~~~~~~~~ Photo-preview ~~~~~~~~
.photo-preview {
  margin-top: 148px;

  &__items {
    display: flex;
    margin-bottom: 40px;
  }

  &__item {
    flex-basis: 50%;
    & + .photo-preview__item {
      margin-left: 20px;
    } 
  }
  &__item--second {
    display: grid;
    
    gap: 20px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'photo-1 photo-2 photo-2'
    'photo-3 photo-3 photo-3';
  }
  
  &__link {
    width: 100%;

  }
  &__link-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  .photo-preview--1 {
    height: 100%;
    padding-bottom: 40%;
    margin-bottom: 15px;
  }
  .photo-preview--2 {
    height: 100%;
    padding-bottom: 62%;
  }
  .photo-preview--3 {
    grid-area: photo-1;
  }
  .photo-preview--4 {
    grid-area: photo-2;

  }
  .photo-preview--5 {
    grid-area: photo-3;
    height: 100%;
    padding-bottom: 1%;
  }
  
}

//* ~~~~~~~~ Store-preview ~~~~~~~~
.store-preview {
  margin-top: 137px;
  &__wrapper {
    max-width: 953px;
    margin: 0 auto;
  }

  &__items {
    display: grid;
    grid-template-columns:minmax(280px, 1fr) minmax(280px, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post-preview__img::after {
    margin-bottom: 7px;
  }
}

//* ~~~~~~~~ Instagram ~~~~~~~~
.instagram {
  margin-top: 207px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    margin-right: 30px;
    max-width: 600px;
    width: 100%;
    flex-basis: 45%;
  }

  &__info-title {
    margin-bottom: 37px;
  }

  &__info-text {
    margin-bottom: 37px;
  }

  &__info-btn {
    padding: 10px 21px 8px 21px;
    margin-top: 37px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s ;
    border: 1px solid #000;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }

  &__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    flex-basis: 55%;
  }

  &__post {
    img {
      display: block;
      width: 100%;
    }
  }

  
}





//* ~~~~~~~~ Footer ~~~~~~~~
.footer {
  background-color: #f7f7f7;
  margin-top: 180px;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-item {
    & + .footer__menu-item {
      margin-left: 40px;
    }
  }
  &__menu-link {
    color: #6d6d6d;
    transition: color 0.3s;
    &:hover {
      color: #000000;
    }
  }
}

.footer-social {
  display: flex;
  justify-content: start;
  align-items: center;
  svg path {
    fill: #6d6d6d;
    transition: fill 0.3s;
  }
  
  &__link:hover svg path{
    fill: #000;
    opacity: 1;
  }
  &__link-insta {
    width: 18px;
  }
  &__link-youtube {
    width: 21px;
  }
  &__link-vk {
    width: 23px;
  }
  &__link + .footer-social__link {
    margin-left: 22px;
  }
}


@import "about";
@import "blog";
@import "post";
@import "gallery";
@import "store";
@import "cart";


@import "media";
