// @import "magnific-popup";
@import "lightgallery.min";
@import "fullpage.min";
@import "fonts";
@import "jquery.fancybox";
@import "global";


//* ~~~~~~~~ Header ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~~
.header {
  position: relative;
  z-index: 999999;
  
  &__content {
    padding-top: 47px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    max-width: 180px;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
}


//*~~~~~~~~ Social ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.social {
  display: flex;
  justify-content: space-between;
  &__link {
    transition: opacity 0.3s;
    display: inline-block;
    & + .social__link {
      margin-left: 32px;
    }
    &:hover {
      opacity: 0.6;
    }
    
  }
}


//*~~~~~~~~ Banner-header ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.banner-header {
  min-height: 100vh;
  position: relative;
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    & path {
      fill: #fff;
    }
  }

  &__caption-name {
    font-family: 'Alcotton', serif;
    color: #fff;
    font-size: 23px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__caption-line {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 8px;
  }
}

//* ~~~~~~~~ Acquaintance ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.acquaintance {
  &__wrapper {
    margin-top: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    max-width: 710px;
    width: 100%;
    margin-right: 50px;
    .photo {
      width: 100%;
      padding-top: 100%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }

  &__text {
    max-width: 610px;
    font-weight: 300;
    text-align: justify;
    p + p {
      margin-top: 35px;
    }
  }
}

//* ~~~~~~~~ Last Posts ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.last-posts {
  &__wrapper {
    margin-top: 190px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  &__item {
    margin-bottom: 40px;
    flex-direction: column;
  }

  &__item:nth-child(5),
  &__item:nth-child(6) {
    display: none;
  }

  &__date {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  &__text {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }

  &__img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 13px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  
}


//* ~~~~~~~~ Banner ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~~
.banner {
  margin-top: 137px;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  &__info {
    padding: 50px 0;
    position: relative;
    color: #fff;
  }

  &__info-title {
    margin-bottom: 37px;
    max-width: 480px;
    font-family: 'Alcotton', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.38;
  }

  &__info-text {
    max-width: 590px;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
    text-align: justify;
  }

  &__info-btn {
    margin-top: 40px;
    padding: 10px 21px 8px 21px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}

//* ~~~~~~~~ Photo-preview ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.photo-preview {
  margin-top: 148px;
  &__items {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 76px);
  }

  &__item {
    flex-basis: 50%;
    & + .photo-preview__item {
      margin-left: 20px;
    } 
  }
  
  &__link {
    width: 100%;
    display: flex;
  }
  &__link-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &--1 {
    height: 100%;
    // padding-bottom: 40%;
    grid-area: photo-1;

    grid-row-start: 1; 
    grid-row-end: 4; 
    grid-column-start: 1;   
    grid-column-end: 4; 
  }
  &--2 {
    height: 10px;
  }
  &--2 {
    // margin-top: 20px;
    height: 100%;
    // padding-bottom: 62%;
    grid-area: photo-2;
    grid-row-start: 4; 
    grid-row-end: 9; 
    grid-column-start: 1;   
    grid-column-end: 4; 
  }
  &--3 {
    grid-area: photo-3;
    grid-row-start: 1; 
    grid-row-end: 5; 
    grid-column-start: 4;   
    grid-column-end: 5; 
    height: 100%;
  }
  &--4 {
    grid-area: photo-4;
    grid-row-start: 1; 
    grid-row-end: 5; 
    grid-column-start: 5;   
    grid-column-end: 7; 
    height: 100%;
  }
  &--5 {
    grid-area: photo-5;
    height: 100%;
    grid-row-start: 5; 
    grid-row-end: 9; 
    grid-column-start: 4;   
    grid-column-end: 7; 
  }
}




//* ~~~~~~~~ Store-preview ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.store-preview {
  margin-top: 137px;
  .link-more {
    display: none;
  }
  &__wrapper {
    max-width: 953px;
    margin: 0 auto;
  }

  &__items {
    display: grid;
    grid-template-columns:minmax(280px, 1fr) minmax(280px, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

//* ~~~~~~~~ Instagram ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.instagram {
  margin-top: 207px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    margin-right: 30px;
    max-width: 600px;
    width: 100%;
    flex-basis: 45%;
  }

  &__info-title {
    margin-bottom: 37px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 26px;
    font-weight: 700;
  }

  &__info-text {
    margin-bottom: 35px;
    font-weight: 300;
    text-align: justify;
  }
  &__info-btn {
    margin-top: 4px;
  }

  &__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    flex-basis: 49%;
  }

  &__post {
    img {
      display: block;
      width: 100%;
    }
  }
}


//* ~~~~~~~~ Footer ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.footer {
  background-color: #f7f7f7;
  margin-top: 180px;
  &__content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 40px -10px 0;
  }

  &__menu-item {
    & + .footer__menu-item {
      margin-left: 40px;
    }
  }
  &__menu-link {
    color: #6d6d6d;
    transition: color 0.3s;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    &:hover {
      color: #000000;
    }
  }
}

.footer-social {
  display: flex;
  justify-content: start;
  align-items: center;
  svg path {
    fill: #6d6d6d;
    transition: fill 0.3s;
  }
  
  &__link:hover svg path{
    fill: #000;
    opacity: 1;
  }
  &__link-insta {
    width: 21px;
  }
  &__link-youtube {
    width: 26px;
  }
  &__link-vk {
    width: 28px;
  }
  &__link + .footer-social__link {
    margin-left: 22px;
  }
}


//* ~~~~~~~~ BLOG ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.favorites {
  margin-bottom: 180px;
}
.blog {
  .last-posts__wrapper {
    margin-top: 50px;
  }
  &.section .side-title {
    top: 130px;
    transform: none;
  }
}


//* ~~~~~~~~ GALLERY ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.gallery {
  &__items {
    margin-top: 120px;
    max-width: 1440px;
    width: 100%;
    img {
      width: 100%;
    }
    .grid-item {
      float: left;
      margin-bottom: 13px;
    }
    .gallery__item-img {
      display: flex;
    }
  }
  .photo-preview__items {
    margin-bottom: 20px;
  }
  .photo-preview__items--add {
    display: grid;
    gap: 20px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'photo-1 photo-2 photo-2';

    
  }
  .photo-preview--6 {
    grid-area: photo-1;
    height: 100%;
    
    .post-preview__img {
      padding-bottom: 60%;
    }
  }

  .photo-preview--7 {
    grid-area: photo-2;
    height: 100%;
  }
}




//* ~~~~~~~~ ALBUM ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.album {
  margin-top: 116px;
  margin-bottom: -20px;

  &__title {
    text-align: center;
    margin-bottom: 70px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__items {
    position: relative;
  }

  &__item {
  }

  &__img {
    display: flex;
    img {
      width: 100%;
    }
  }
  .grid-item {
    width: 466px;
    margin-bottom: 20px;
  }
  .grid-item--width2 {
    width: 952px;

  }

  .side-title {
    top: 520px;
    transform: translateY(0);
  }
}

.album-page .link-more {
  margin-top: 28px;
}








//* ~~~~~~~~ ABOUT ~~~~~~~~
//* ~~~~~~~~~~~~~~~~~~~~~~~
.about {
  margin-top: 115px;
  .title {
    text-align: center;
  }
  &__text {
    max-width: 610px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: justify;
    
    p {
      margin-bottom: 30px;
    }
  }
}

.about-photo {
  margin-top: 70px;
  &__img {
    max-width: 954px;
    width: 100%;
    padding-top: 34%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.about-contacts {
  margin-top: 100px;

  .title {
    text-align: center;
  }

  &__text {
    margin: 0 auto;
    margin-top: 37px;
    max-width: 710px;
    text-align: justify;
    
    p {
      margin-bottom: 10px;
    }
  }

  &__text--link {
    display: inline;
    font-weight: normal;
    font-size: inherit;
    line-height: 1.2;
    transition: text-shadow 0.3s;
    &:hover {
      text-shadow: 0 0 0.4px, 0 0 0.4px;
      font-weight: 500;
    }
  }

  &__social {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &-link {
      transition: opacity 0.3s;
      text-align: center;
      & + .about-contacts__social-link {
        margin-left: 135px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}



@import "post";
@import "store";
@import "cart";
@import "product";
@import "partnership";
@import "slick";





@import "media";
